@model Proyecto_LavApp.Models.reserva_tipo_servicio

@{
    ViewBag.Title = "Crear";
    List<SelectListItem> listtiposerv = (List<SelectListItem>)ViewBag.lista;
}

<h2 class="text-center"><i class="fas fa-concierge-bell"></i> Agregar Servicio</h2>


@using (Html.BeginForm("Guardar", "reserva_tipo_serv_", FormMethod.Post, new { @id = "frmcrearrestip", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group offset-2">
            @Html.LabelFor(model => model.id_tipo_servicio, "Tipo Servicio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_tipo_servicio", listtiposerv, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_tipo_servicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group offset-2">
            @Html.LabelFor(model => model.total_servicios_sol, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_servicios_sol, new { htmlAttributes = new { @id = "txtvalorserv", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total_servicios_sol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group offset-2">
            <div class="col-md-10">
                <button type="button" class="btn btn-primary" id="addService">
                    Agregar Servicios
                </button>
            </div>
        </div>

    </div>
}


@section scripts{

    <script>
        function AgregarServ() {
            var frmcrearrestip = document.getElementById("frmcrearrestip");
            frmcrearrestip.submit();
        }

        var cboTipoServ = document.getElementById("id_tipo_servicio");
        cboTipoServ.onchange = function () {
            //$("#id_tipo_servicio").empty();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/reserva_tipo_serv_/obtenerValorServicio',
                data: { id: $(this).val() },
                success: function (Data) {
                    $.each(Data, function (i, data) {
                        //alert(data);
                        $("#txtvalorserv").val(data);
                    });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
        }

        $("#addService").click(function () {
            Swal.fire({
                title: '¿Desea crear el registro?',
                showCancelButton: true,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
            }).then((result) => {
                if (result.isConfirmed) {
                    // Swal.fire('Saved!', '', 'success')
                    AgregarServ();
                } else if (result.isDenied) {
                    // Swal.fire('Changes are not saved', '', 'info')
                }
            });
        });
    </script>

}