@model Proyecto_LavApp.Models.roles

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txt_desc_rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt_desc_rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id_rol }) |
    @Html.ActionLink("Roles", "Index")
</p>
