@model Proyecto_LavApp.Models.tipo_vehiculos

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>tipo_vehiculos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.txt_tipo_vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt_tipo_vehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn_activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn_activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id_tipo_vehiculo }) |
    @Html.ActionLink("Tipo Vehiculos", "Index")
</p>
