@using Proyecto_LavApp.Models

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.LavApp - Smart car wash</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LavApp - Smart car wash", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{
                        if (Session["rol"] != null)
                        {
                            foreach (rolesCls roles in (List<rolesCls>)Session["rol"])
                            {
                                if (roles.sn_admin == true)
                                {
                                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Tipo Documento", "Index", "tipo_documento_")</li>
                                    <li>@Html.ActionLink("Roles", "Index", "roles_")</li>
                                    <li>@Html.ActionLink("Personas", "Index", "personas_")</li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "usuarios_")</li>
                                    <li>@Html.ActionLink("Usuarios por Rol", "Index", "usuario_rol_")</li>
                                    <li>@Html.ActionLink("Marcas Vehiculos", "Index", "marca_vehiculos_")</li>
                                }
                                if (roles.sn_empleado == true)
                                {
                                    <li>@Html.ActionLink("Personas", "Index", "personas_")</li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "usuarios_")</li>
                                    <li>@Html.ActionLink("Usuarios por Rol", "Index", "usuario_rol_")</li>
                                    <li>@Html.ActionLink("Marcas Vehiculos", "Index", "marca_vehiculos_")</li>
                                }
                                if (roles.sn_cliente == true)
                                {
                                    <li>@Html.ActionLink("Personas", "Index", "personas_")</li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "usuarios_")</li>
                                }
                            }
                            <li>@Html.ActionLink("Cerrar Sesión", "cerrarsesion", "login_")</li>
                        }

                    }
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
