@model Proyecto_LavApp.Models.modelo_vehiculos

@{
    ViewBag.Title = "Editar";
    List<SelectListItem> listmarcas = (List<SelectListItem>)ViewBag.lista;
}

<h2 class="text-center"><i class="fas fa-car"></i> Editar Modelo</h2>

@using (Html.BeginForm("Modificar", "modelo_vehiculos_", FormMethod.Post, new { @id = "frmeditarmarcas", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_modelo_vehiculo)


<div class="form-row">

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.id_marca_vehiculos, "Marca Vehiculo", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10">
            @Html.DropDownList("id_marca_vehiculos", listmarcas, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_marca_vehiculos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.txt_desc_modelo, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.txt_desc_modelo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.txt_desc_modelo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.sn_activo, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.sn_activo)
                @Html.ValidationMessageFor(model => model.sn_activo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!--<input type="submit" value="Save" class="btn btn-default" />-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Editar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Desea modificar el registro?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div style="padding:1em">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" onclick="Editar()" class="btn btn-primary">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Close Button trigger modal -->



            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>

    <script>
        function Editar() {
            var frmeditarmarcas = document.getElementById("frmeditarmarcas");
            frmeditarmarcas.submit();
        }

    </script>

