@model IEnumerable<Proyecto_LavApp.Models.modelo_vehiculos>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"><i class="fas fa-car"></i> Modelos de Vehículos</h2>

<p class="text-right">
    <a href="/modelo_vehiculos_/Crear" class="btn btn-primary"><span class="mr-2">Crear Modelo </span><i class="fas fa-plus-circle text-white"></i></a>
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca_vehiculos.txt_desc_marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt_desc_modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sn_activo)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.marca_vehiculos.txt_desc_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_desc_modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sn_activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.id_modelo_vehiculo }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_modelo_vehiculo })
            </td>
        </tr>
    }
</table>
